/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'HelveticaNeue-UltraLight';
    font-size:12pt;
    color: #7c6b57;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clear {
    clear:both;
}
@font-face {
    font-family: 'HelveticaNeue-UltraLight';
    src: url(../fonts/HelveticaNeue-UltraLight.otf);
}

#container, #golden_stripe, #gray_stripe,#photo_stripe, #gold_stripe {
    width: 875px;
    margin: 0 auto;
}

#head {
    width: 100%;
    height: 440px
}

.title_name {
    font-size: 60pt;
    color: #a46b28;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.title_tag {
    font-size: 20pt;
    color: #535353;
}

.logo_iphone {
    background: url(../img/iPhone.png) no-repeat;
    height: 535px;
    width: 800px;
    position: relative;
    top: -340px;
    left: 225px;
}

#golden_stripe_box {
    width: 100%;
    height: auto;
    background: #e3caad;
}

#golden_stripe {
    height: 300px;
}

.select {
    font-weight: 600;
    line-height: 22px;
}

.info_box {
    padding-top: 70px;
    width: 355px;
    height: auto;
    float: left;
    line-height: 22px;
}

.what_android {
    text-align: right;
    padding-top: 50px;
    width: 355px;
    height: auto;
    float: right;
    line-height: 22px;
}

#gray_stripe_box {
    width: 100%;
    height: auto;
    background: #eeeeee;
}

#gray_stripe {
    height: 440px;
}

.title_name_gray {
    font-size: 22pt;
    color: #a16927;
}

.logo_iphone_gray {
    background: url(../img/iphone_gray.png) no-repeat;
    height: 367px;
    width: 253px;
    position: relative;
    z-index: 1;
    top: 73px;
    left: 545px;
}

#photo_stripe_box {
    background: url(../img/shadow_block.png) no-repeat;
    width: 100%;
    height: auto;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
}

#photo_stripe {
    height: 486px;
}

.photo_title {
    font-size: 34pt;
}

.photo_stripe_text {
    padding-top: 50px ;
    text-align: center;
    color: #ffffff;
    line-height: 22px;
}

.photo_stripe_text a {
    padding: 0;
}

.tag_color {
    color: #c4c4c4;
}

.photo_iphone {
    background: url(../img/iphone_gray.png) no-repeat;
    height: 320px;
    width: 253px;
    margin: 20px auto;
}

#picjumbo {
    text-decoration: underline;
    color: #c4c4c4;
}

#gold_stripe_box {
    background: #a16927;
    width: 100%;
    height: auto;
}

#gold_stripe {
    height: 440px;
    margin: 0 auto;
}

.gold_title {
    color: #ffffff;
    font-size: 32pt;
}

#gold_tag_right, #gold_title_left {
    margin-top: 140px;
    width: 405px;
    height: 100px;
}
#gold_title_left {

    text-align: right;
    float:left;
}

#gold_tag_right {
    text-align: left;
    float:right;
}

#footer {
    width: 875px;
    height: 200px;
    margin: 0 auto;
}

#footer_line {
    padding-top: 75px;
    width: 100%;
    height: 45px;
}

#footer_title{
    float:left;
    height:100%;
}

.footer_name, .footer_tag {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.footer_name {
    color: #a46b28;
    font-size: 20pt;
}

.footer_tag {
    color: #3f3f3f;
}

#footer_info {
    float: left;
    height: 20px;
    width: 320px;
    padding: 15px 0px 0px 150px;
    font-size: 14pt;
}


a {
    text-decoration: none;
    color: #c6a278;
    padding: 50px 0px 0px 150px;
}
.button_read_more {
    text-decoration:none;
    text-align:center;
    padding: 15px 70px;
    border:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font-weight:bold;
    color:#757575;
    background:#d8d8d8;
}

#button_golden {
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
    position: relative;
    top: 50px;
    left: 325px;
}


#footer_info a {
    padding: 0px 15px 0px 0px;
}

#app_button {
    padding-top: 160px;
}

#twitter {
    color:#00aad5;
}

#facebook {
    color: #0f4991;
}

.app_store {
    background: url(../img/app_store.png) no-repeat;
}

.google_play {
    background: url(../img/google_play.png) no-repeat;
}

#google_play_button {
    float: right;
}

.footer_button {
    float:right;
    background-size: 95%;
}

.buttons_footer a {
    padding: 31px 0px 0px 100px;
}

.buttons_footer {
    padding-top: 10px;
}